{% extends 'layout.html.twig' %}
{% block home %}active{% endblock %}

{% block body %}

    <!--Page Header Starts-->
    <div class="container-fluid px-0">
        <div id="header-carousel" class="header-carousel carousel carousel-fade slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item position-relative active">
                    <div class="carousel-img slide_1 animated slow fadeIn">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row mt-md-5">
                                <div class="col-sm-10 col-lg-8 p-lg-5">
                                    <h1 class="fs-2 animated fadeIn delay-1s">
                                        {{ "Granites"|trans }}
                                    </h1>
                                    <p class="fs-5 text-white mb-4 pb-2 animated fadeIn delay-2s">
                                        {{ "Transformez vos espaces avec l'élégance intemporelle que seul le granite peut offrir."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_2 animated slow fadeIn">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row mt-md-5">
                                <div class="col-sm-10 col-lg-8 p-lg-5">
                                    <h1 class="fs-2 animated fadeIn delay-1s">
                                        {{ "Graviers"|trans }}
                                    </h1>
                                    <p class="fs-5 text-white mb-4 pb-2 animated fadeIn delay-2s">
                                        {{ "Explorez la polyvalence du gravier de qualité de GRACAM, idéal pour divers projets de construction."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_3 animated slow fadeIn">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row mt-md-5">
                                <div class="col-sm-10 col-lg-8 p-lg-5">
                                    <h1 class="fs-2 animated fadeIn delay-1s">
                                        {{ "Sables"|trans }}
                                    </h1>
                                    <p class="fs-5 text-white mb-4 pb-2 animated fadeIn delay-2s">
                                        {{ "Au cœur de la Haute-Sanaga, GRACAM fournit des solutions de sable de la plus haute qualité."|trans }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header Ends-->
    <div class="container-fluid">
        <div class="about">
            <div class="row mt-5 gy-5">
                <div class="col-lg-7 position-relative">
                    <div class="bloc-text-left wow animated fadeInUp" data-wow-delay="0.1s">
                        <h2 class="bloc-title wow animated fadeInLeft" data-wow-delay="1s">
                            {{ "A PROPOS DE GRACAM"|trans }}
                        </h2>
                        <h4 class="">
                            {{ "Notre histoire"|trans }}
                        </h4>
                        <hr class="border-1 border-primaire">
                        <p class="fs-5">
                            {{ "Fondée depuis plusieurs décennies, Gracam est le fruit d'une vision audacieuse pour créer
                            une entreprise qui soit à la fois un leader dans l'industrie des granulats et un exemple de
                            responsabilité environnementale. Notre parcours a été marqué par des investissements
                            continus dans la technologie, la formation de notre personnel, et la recherche de méthodes
                            d'extraction novatrices, permettant ainsi à Gracam de devenir un acteur de premier plan dans
                            ce secteur."|trans }}
                        </p>
                        <a href="{{ path('About') }}" class="btn btn-primary px-3 py-2">
                            {{ "En savoir plus..."|trans }}
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bloc-image wow animated fadeInUp" data-wow-delay="0.5s">
                        <img src="{{ asset("../images/about.jpg") }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="pourquoi">
            <div class="row gy-5 mb-5">
                <div class="col-lg-5">
                    <div class="bloc-image wow animated fadeInUp" data-wow-delay="0.5s">
                        <img src="{{ asset("../images/about_3.jpg") }}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 position-relative">
                    <div class="bloc-text-right wow animated fadeInUp" data-wow-delay="0.1s">
                        <h2 class="bloc-title wow animated fadeInRight" data-wow-delay="1s">
                            {{ "POURQUOI NOUS CHOISIR"|trans }}
                        </h2>
                        <h4 class="">
                            {{ "La société GRACAM s’appuie sur des valeurs fortes qui lui permettent de garantir la
                            satisfaction totale de ses partenaires."|trans }}
                        </h4>
                        <hr class="border-1 border-primaire">
                        <p class="fs-5">
                            {{ "Notre engagement envers la qualité, la durabilité et l'innovation est au cœur de notre ADN.
                            Nous mettons un point d'honneur à fournir des produits et des services de la plus haute
                            qualité, répondant aux normes les plus strictes de l'industrie. La responsabilité
                            environnementale guide chacune de nos actions, de l'extraction des matériaux à la livraison,
                            assurant ainsi une empreinte écologique minimale. De plus, notre dévouement envers nos
                            partenaires se traduit par une collaboration transparente et des solutions sur mesure pour
                            répondre à leurs besoins spécifiques. Chez GRACAM, l'éthique, l'intégrité et le respect sont
                            des valeurs fondamentales, garantissant une relation solide et durable avec nos clients,
                            fournisseurs et communautés locales. Notre engagement envers l'excellence et notre souci
                            constant de l'amélioration continue font de nous un partenaire de confiance, prêt à relever
                            les défis les plus exigeants de l'industrie des granulats."|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="valeurs">
            <div class="row">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-secondaire">
                        <h2 class="bloc-title text-secondaire">
                            {{ "NOS VALEURS"|trans }}
                        </h2>
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <div class="valeur-bloc wow animated fadeInUp" data-wow-delay="0.1s">
                                    <h5 class="valeur-title">
                                        {{ "Engagement envers l'Excellence"|trans }}
                                    </h5>
                                    <p class="valeur-text">
                                        {{ "Nous maintenons des normes élevées dans toutes nos opérations,
                                        garantissant la satisfaction de nos clients."|trans }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="valeur-bloc wow animated fadeInUp" data-wow-delay="0.3s">
                                    <h5 class="valeur-title">
                                        {{ " Intégrité et Responsabilité"|trans }}
                                    </h5>
                                    <p class="valeur-text">
                                        {{ "Nous agissons de manière éthique, transparente, et responsable,
                                        contribuant au développement durable."|trans }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="valeur-bloc wow animated fadeInUp" data-wow-delay="0.5s">
                                    <h5 class="valeur-title">
                                        {{ "Innovation"|trans }}
                                    </h5>
                                    <p class="valeur-text">
                                        {{ "Nous sommes résolument axés sur l'innovation, en diversifiant
                                        constamment notre offre pour rester à la pointe du marché."|trans }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="valeur-bloc wow animated fadeInUp" data-wow-delay="0.7s">
                                    <h5 class="valeur-title">
                                        {{ "Qualité et Respect des normes"|trans }}
                                    </h5>
                                    <p class="valeur-text">
                                        {{ "Chaque matériaux que nous fournissons est soumis à des normes
                                        strictes, garantissant sa conformité aux exigences industrielles et aux attentes
                                        des particuliers."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="produits">
            <div class="row mt-5">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-primaire">
                        <h2 class="bloc-title text-primaire">
                            {{ "NOS PRODUITS"|trans }}
                        </h2>
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <a href="{{ path('Produits') }}#sables">
                                    <div class="produit wow animated fadeInUp" data-wow-delay="0.1s">
                                        <!-- Product image-->
                                        <div class="produit-img">
                                            <img src="{{ asset('images/sable.jpg') }}"
                                                 alt="sable"/>
                                        </div>
                                        <!-- Product details-->
                                        <div class="produit-description">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">
                                                    {{ "Sables"|trans }}
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('Produits') }}#graviers">
                                    <div class="produit wow animated fadeInUp" data-wow-delay="0.3s">
                                        <!-- Product image-->
                                        <div class="produit-img">
                                            <img src="{{ asset('images/gravier10.jpg') }}"
                                                 alt="gravier"/>
                                        </div>
                                        <!-- Product details-->
                                        <div class="produit-description">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">
                                                    {{ "Graviers"|trans }}
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('Produits') }}#granites">
                                    <div class="produit wow animated fadeInUp" data-wow-delay="0.5s">
                                        <!-- Product image-->
                                        <div class="produit-img">
                                            <img src="{{ asset('images/produit_7.jpg') }}"
                                                 alt="gravier"/>
                                        </div>
                                        <!-- Product details-->
                                        <div class="produit-description">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">
                                                    {{ " Granites"|trans }}
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="row">
                <h2 class="bloc-titre-service mb-5">
                    {{ " NOS SERVICES"|trans }}
                </h2>
                <div class="col-lg-6">
                    <div class="row gy-3">
                        <div class="col-lg-7 position-relative">
                            <div class="bloc-text-left wow animated fadeInUp" data-wow-delay="0.1s">
                                <h2 class="bloc-title wow animated fadeInLeft" data-wow-delay="1s">
                                    {{ "Distribution"|trans }}
                                </h2>
                                <p class="">
                                    {{ "La distribution optimale de votre produit demeure notre priorité incontestable.
                                     Nous sommes pleinement conscients de l'importance de garantir des livraisons rapides, fiables, et en adéquation avec vos exigences de qualité."|trans }}
                                </p>
                                <a href="href={{ path('distribution') }}" class="btn btn-primary px-3 py-2">
                                    {{ "Lire plus..."|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="bloc-image wow animated fadeInUp" data-wow-delay="0.5s">
                                <img src="{{ asset("../images/distribution.jpg") }}" alt=""
                                     class="d-flex justify-content-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row row gy-3">
                        <div class="col-lg-5">
                            <div class="bloc-image wow animated fadeInUp" data-wow-delay="0.5s">
                                <img src="{{ asset("../images/header_2.jpg") }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7 position-relative">
                            <div class="bloc-text-right wow animated fadeInUp" data-wow-delay="0.1s">
                                <h2 class="bloc-title wow animated fadeInRight" data-wow-delay="1s">
                                    {{ "Accompagnement"|trans }}
                                </h2>
                                <p class="">
                                    {{ " La construction est l'étape cruciale où votre projet prend vie.
                                    Nous avons une équipe de professionnels qualifiés et expérimentés qui vous accompagne avec précision et efficacité pour concrétiser votre projet."|trans }}
                                </p>
                                <a href="{{ path('distribution') }}" class="btn btn-primary px-3 py-2">
                                    {{ " Lire plus..."|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="galerie">
            <div class="row mt-5">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-primaire">
                        <h2 class="bloc-title text-primaire">
                            {{ " NOTRE GALERIE"|trans }}
                        </h2>
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <div class="album-cover wow animated fadeInUp" data-wow-delay="0.1s">
                                    <img src="{{ asset ('../images/galerie.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="album-cover wow animated fadeInUp" data-wow-delay="0.3s">
                                    <img src="{{ asset ('../images/galerie_1.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="album-cover wow animated fadeInUp" data-wow-delay="0.5s">
                                    <img src="{{ asset ('/images/galerie_3.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="album-cover wow animated fadeInUp" data-wow-delay="0.7s">
                                    <img src="{{ asset ('/images/galerie_9.jpg') }}" alt="" class="h-100">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="album-cover wow animated fadeInUp" data-wow-delay="0.9s">
                                    <img src="{{ asset ('/images/galerie_8.jpg') }}" alt="" class="h-100">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="album-cover wow animated fadeInUp" data-wow-delay="1.1s">
                                    <img src="{{ asset ('/images/galerie_10.jpg') }}" alt="" class="h-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="row mt-5 mb-5">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-primaire">
                        <h2 class="bloc-title text-primaire">
                            {{ "TEMOIGNAGE"|trans }}
                        </h2>
                        <div id="testimonial" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="col-lg-4 offset-lg-4 d-flex justify-content-center">
                                        <img src="{{ asset ('../images/images.jpg') }}" alt="...">
                                    </div>
                                    <div class="carousel-caption">
                                        <div class="col-lg-8 offset-lg-2">
                                            <h5>Jean Koulagna</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eum
                                                fugiat molestiae? Aliquid asperiores assumenda, consequatur culpa
                                                dignissimos incidunt iste libero nobis non nostrum quae temporibus totam
                                                velit voluptate voluptates?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-lg-4 offset-lg-4 d-flex justify-content-center">
                                        <img src="{{ asset ('../images/carriere_2.jpg') }}" alt="...">
                                    </div>
                                    <div class="carousel-caption">
                                        <div class="col-lg-8 offset-lg-2">
                                            <h5>Albert Mangou</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis
                                                cumque delectus dignissimos dolore doloribus illo incidunt itaque maxime
                                                necessitatibus nemo nostrum placeat possimus provident, quam quos
                                                temporibus veniam. Impedit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-lg-4 offset-lg-4 d-flex justify-content-center">
                                        <img src="{{ asset ('../images/carriere_4.jpg') }}" alt="...">
                                    </div>
                                    <div class="carousel-caption">
                                        <div class="col-lg-8 offset-lg-2">
                                            <h5>Pascaline Kalang</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa
                                                dolor, hic quo sint sit vero. Aliquam assumenda culpa, dolor ducimus eos
                                                illum laborum nemo obcaecati totam ut vitae, voluptas!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#testimonial" data-bs-slide-to="0" class="active"
                                        aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#testimonial" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#testimonial" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#testimonial"
                                    data-bs-slide="prev">
                                <i class="fa fa-chevron-left fa-2x"></i>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#testimonial"
                                    data-bs-slide="next">
                                <i class="fa fa-chevron-right fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="team">
            <div class="row mt-5 mb-5">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-primaire">
                        <h2 class="bloc-title text-primaire">
                            EQUIPE DIRIGEANTE
                        </h2>
                        <div class="row gy-5">
                            <div class="col-lg-3">
                                <div class="bloc-team wow animated fadeInUp" data-wow-delay="0.1s">
                                    <div class="bloc-team-img">
                                        <img src="{{ asset ('../images/team2.jpg') }}" alt="">
                                    </div>
                                    <div class="bloc-team-text">
                                        <h4>Michel Ovono</h4>
                                        <h5>Directeur Général</h5>
                                    </div>
                                    <div class="bloc-team-icon">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="bloc-team wow animated fadeInUp" data-wow-delay="0.3s">
                                    <div class="bloc-team-img">
                                        <img src="{{ asset ('../images/team3.jpg') }}" alt="">
                                    </div>
                                    <div class="bloc-team-text">
                                        <h4>Yves Ondoa</h4>
                                        <h5>Directeur Commercial</h5>
                                    </div>
                                    <div class="bloc-team-icon">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="bloc-team wow animated fadeInUp" data-wow-delay="0.5s">
                                    <div class="bloc-team-img">
                                        <img src="{{ asset ('../images/team4.jpg') }}" alt="">
                                    </div>
                                    <div class="bloc-team-text">
                                        <h4>Didier Njako</h4>
                                        <h5>Directeur Marketing</h5>
                                    </div>
                                    <div class="bloc-team-icon">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="bloc-team wow animated fadeInUp" data-wow-delay="0.7s">
                                    <div class="bloc-team-img">
                                        <img src="{{ asset ('../images/team5.jpg') }}" alt="">
                                    </div>
                                    <div class="bloc-team-text">
                                        <h4>Amelia Konga</h4>
                                        <h5>Ressources humaines</h5>
                                    </div>
                                    <div class="bloc-team-icon">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
