{% extends 'layout.html.twig' %}
{% block home %}active{% endblock %}

{% block body %}

    <!--PreLoader Ends-->
    <div class="container-fluid px-0">
        <div id="header-carousel" class="carousel header-carousel carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_2 animated fadeIn">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row mt-md-5 text-center">
                                <div class="col-sm-10 col-lg-8">
                                    <h1 class="fs-2 text-white fw-bold mb-4 animated fadeIn delay-1s">
                                        {{ "Graviers"|trans }}
                                    </h1>
                                    <div class="fs-5 text-white mb-4 pb-2 animated fadeIn delay-1s">
                                        <p class="paragraphe-1 mb-0">
                                            {{ "L’entreprise propose aujourd’hui une offre complète de matériaux
                                             qui satisferont aussi bien la demande industrielle que la demande des particuliers."|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_3 animated fadeIn">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row mt-md-5 text-center">
                                <div class="col-sm-10 col-lg-8">
                                    <h1 class="fs-2 text-white fw-bold mb-4 animated fadeIn delay-1s">
                                        {{ "Sables"|trans }}
                                    </h1>
                                    <p class="fs-5 text-white mb-4 pb-2 animated fadeIn delay-1s">
                                        {{ "Nous avons une équipe de professionnels qualifiés et expérimentés qui travaillent avec précision et efficacité pour réaliser votre projet."|trans }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative active">
                    <div class="carousel-img slide_1 animated fadeIn">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row mt-md-5 text-center">
                                <div class="col-sm-10 col-lg-8">
                                    <h1 class="fs-2 text-white fw-bold mb-4 animated fadeIn delay-1s">
                                        {{ "Granites"|trans }}
                                    </h1>
                                    <p class="fs-5 text-white mb-4 pb-2 animated fadeIn delay-1s">
                                        {{ "GRACAM se distingue dans le domaine des matériaux de construction en proposant des solutions innovantes et
                                        fiables pour répondre aux besoins croissants de l'industrie. Gracam vous offre les meilleurs matériaux sur le marché."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#Start about#}
    <div class="container-fluid">
        <div class="about">
            <div class="row mt-5 gy-5">
                <div class="col-lg-7 position-relative">
                    <div class="bloc-text-left">
                        <h2 class="bloc-title">
                            A PROPOS DE GRACAM
                        </h2>
                        <h4 class="">
                            Notre histoire
                        </h4>
                        <hr class="border-1 border-primaire">
                        <p class="">
                            Fondée depuis plusieurs décennies, Gracam est le fruit d'une vision audacieuse pour créer
                            une entreprise qui soit à la fois un leader dans l'industrie des granulats et un exemple de
                            responsabilité environnementale. Notre parcours a été marqué par des investissements
                            continus dans la technologie, la formation de notre personnel, et la recherche de méthodes
                            d'extraction novatrices, permettant ainsi à Gracam de devenir un acteur de premier plan dans
                            ce secteur.
                        </p>
                        <a href="{{ path('About') }}" class="btn btn-primary px-3 py-2">
                            Lire plus...
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bloc-image">
                        <img src="{{ asset("../images/header_1.jpg") }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        {#    </div>#}
        <div class="valeurs">
            <div class="row">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-secondaire">
                        <h2 class="bloc-title text-secondaire">
                            NOS VALEURS
                        </h2>
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <div class="valeur-bloc">
                                    <h5 class="valeur-title">
                                        Engagement envers l'Excellence
                                    </h5>
                                    <p class="valeur-text">
                                        Nous maintenons des normes élevées dans toutes nos opérations,
                                        garantissant la satisfaction de nos clients.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="valeur-bloc">
                                    <h5 class="valeur-title">
                                        Intégrité et Responsabilité
                                    </h5>
                                    <p class="valeur-text">
                                        Nous agissons de manière éthique, transparente, et responsable,
                                        contribuant au développement durable.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="valeur-bloc">
                                    <h5 class="valeur-title">Innovation</h5>
                                    <p class="valeur-text">Nous sommes résolument axés sur l'innovation, en diversifiant
                                        constamment notre offre pour rester à la pointe du marché.</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="valeur-bloc">
                                    <h5 class="valeur-title">Qualité et Respect des Normes</h5>
                                    <p class="valeur-text">Chaque matériau que nous fournissons est soumis à des normes
                                        strictes, garantissant sa conformité aux exigences industrielles et aux attentes
                                        des
                                        particuliers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#    <div class="container-fluid">#}
        <div class="pourquoi">
            <div class="row mt-5 gy-5">
                <div class="col-lg-5">
                    <div class="bloc-image">
                        <img src="{{ asset("../images/about_3.jpg") }}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 position-relative">
                    <div class="bloc-text-right">
                        <h2 class="bloc-title">
                            POURQUOI NOUS CHOISIR
                        </h2>
                        <h4 class="">
                            La société GRACAM s’appuie sur des valeurs fortes qui lui permettent de garantir la
                            satisfaction totale de ses partenaires.
                        </h4>
                        <hr class="border-1 border-primaire">
                        <p class="">
                            Notre engagement envers la qualité, la durabilité et l'innovation est au cœur de notre ADN.
                            Nous mettons un point d'honneur à fournir des produits et des services de la plus haute
                            qualité, répondant aux normes les plus strictes de l'industrie. La responsabilité
                            environnementale guide chacune de nos actions, de l'extraction des matériaux à la livraison,
                            assurant ainsi une empreinte écologique minimale. De plus, notre dévouement envers nos
                            partenaires se traduit par une collaboration transparente et des solutions sur mesure pour
                            répondre à leurs besoins spécifiques. Chez GRACAM, l'éthique, l'intégrité et le respect sont
                            des valeurs fondamentales, garantissant une relation solide et durable avec nos clients,
                            fournisseurs et communautés locales. Notre engagement envers l'excellence et notre souci
                            constant de l'amélioration continue font de nous un partenaire de confiance, prêt à relever
                            les défis les plus exigeants de l'industrie des granulats.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="produits">
            <div class="row mt-5">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-primaire">
                        <h2 class="bloc-title text-primaire">
                            NOS PRODUITS
                        </h2>
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <a href="{{ path('Produits') }}">
                                    <div class="produit">
                                        <!-- Product image-->
                                        <div class="produit-img">
                                            <img src="{{ asset('images/sable.jpg') }}"
                                                 alt="sable"/>
                                        </div>
                                        <!-- Product details-->
                                        <div class="produit-description">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">Sables</h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('Produits') }}">
                                    <div class="produit">
                                        <!-- Product image-->
                                        <div class="produit-img">
                                            <img src="{{ asset('images/gravier10.jpg') }}"
                                                 alt="gravier"/>
                                        </div>
                                        <!-- Product details-->
                                        <div class="produit-description">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">Graviers</h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('Produits') }}">
                                    <div class="produit">
                                        <!-- Product image-->
                                        <div class="produit-img">
                                            <img src="{{ asset('images/produit_7.jpg') }}"
                                                 alt="gravier"/>
                                        </div>
                                        <!-- Product details-->
                                        <div class="produit-description">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">Granites</h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="galerie">
            <div class="row mt-5">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-primaire">
                        <h2 class="bloc-title text-primaire">
                            NOTRE GALERIE
                        </h2>
                        <div class="row g-4">
                            <div class="col-lg-4 col-sm-12">
                                <div class="album-cover mb-5">
                                    <img src="{{ asset ('../images/galerie.jpg') }}" alt="">
                                  </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="album-cover mb-5">
                                    <img src="{{ asset ('../images/galerie_1.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="album-cover mb-5">
                                    <img src="{{ asset ('/images/galerie_3.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="album-cover">
                                    <img src="{{ asset ('/images/galerie_9.jpg') }}" alt="" class="h-100">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="album-cover">
                                    <img src="{{ asset ('/images/galerie_8.jpg') }}" alt="" class="h-100">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="album-cover">
                                    <img src="{{ asset ('/images/galerie_10.jpg') }}" alt="" class="h-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="services">
            <div class="row">
                <h2 class="bloc-titre-service mb-5">NOS SERVICES</h2>
                <div class="col-lg-6">
                    <div class="row gy-3">
                        <div class="col-lg-7 position-relative">
                            <div class="bloc-text-left">
                                <h2 class="bloc-title">
                                    Distribution
                                </h2>
                                <p class="">
                                    La planification est la première étape cruciale de tout projet. Notre équipe de
                                    professionnels chevronnés travaille en étroite
                                    collaboration avec vous pour comprendre vos objectifs, vos contraintes et vos
                                    exigences.
                                </p>
                                <a href="href={{ path('distribution') }}" class="btn btn-primary px-3 py-2">
                                    Lire plus...
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="bloc-image">
                                <img src="{{ asset("../images/distribution.jpg") }}" alt="" class="d-flex justify-content-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row row gy-3">
                        <div class="col-lg-5">
                            <div class="bloc-image">
                                <img src="{{ asset("../images/header_2.jpg") }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7 position-relative">
                            <div class="bloc-text-right">
                                <h2 class="bloc-title">
                                    Accompagnement
                                </h2>
                                <p class="">
                                    La construction est l'étape où nos compétences techniques prennent vie.
                                    Nous avons une équipe de professionnels qualifiés et expérimentés qui travaillent
                                    avec précision et efficacité pour réaliser votre projet.
                                </p>
                                <a href="{{ path('distribution') }}" class="btn btn-primary px-3 py-2">
                                    Lire plus...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="row my-5">
                <div class="col-lg-12 position-relative">
                    <div class="bloc-text-center-primaire">
                        <h2 class="bloc-title text-primaire">
                            EQUIPE DIRIGEANTE
                        </h2>
                        <div class="row gy-5">
                            <div class="col-lg-3">
                                <div class="card shadow border-primaire shadow">
                                    <div class="content p-5">
                                        <div class="bloc-img">
                                            <img src="{{ asset ('../images/team5.jpg') }}" alt="">
                                        </div>
                                        <div class="bloc-team-text">
                                            <h4>Michel</h4>
                                            <h5>Director General</h5>
                                        </div>
                                        <div class="bloc-team-icon">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card shadow border-primaire shadow">
                                    <div class="content p-5">
                                        <div class="bloc-img">
                                            <img src="{{ asset ('../images/team2.jpg') }}" alt="">
                                        </div>
                                        <div class="bloc-team-text">
                                            <h4>Frank </h4>
                                            <h5>Director General</h5>
                                        </div>
                                        <div class="bloc-team-icon">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card shadow border-primaire shadow">
                                    <div class="content p-5">
                                        <div class="bloc-img">
                                            <img src="{{ asset ('../images/team3.jpg') }}" alt="">
                                        </div>
                                        <div class="bloc-team-text">
                                            <h4>Victoire</h4>
                                            <h5>Director General</h5>
                                        </div>
                                        <div class="bloc-team-icon">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card shadow border-primaire shadow">
                                    <div class="content p-5">
                                        <div class="bloc-img">
                                            <img src="{{ asset ('../images/team4.jpg') }}" alt="">
                                        </div>
                                        <div class="bloc-team-text">
                                            <h4>Joseph</h4>
                                            <h5>Director General</h5>
                                        </div>
                                        <div class="bloc-team-icon">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {#End about#}

{% endblock %}