{% extends 'layout.html.twig' %}

{% block home %}actif{% endblock %}

{% block body %}

    <!--PreLoader Ends-->
     <div class="container-fluid px-0">
        <div id="header-carousel" class="carousel header-carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item position-relative active">
                    <div class="carousel-img slide_1 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="col-10 col-lg-8">
                                    <h5 class="display-3 text-primaire  fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{ "Gardiens de l'environnement, granulat par granulat"|trans }}
                                    </h5>
                                    <div class="fs-5 text-white mb-4 pb-2 animated fadeInUpBig delay-05s">
                                        <p class="paragraphe-1 mb-0">
                                            {{ "Notre engagement envers la durabilité environnementale guide chaque étape de notre processus d'extraction, assurant un avenir plus vert pour tous"|trans }}
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_3 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="col-10 col-lg-8">
                                    <h5 class="display-3 text-primaire fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{ "De la terre à l'avenir, la durabilité est notre engagement"|trans }}
                                    </h5>
                                    <p class="fs-5 text-white mb-4 pb-2 animated fadeInUpBig delay-05s">
                                        {{ "Notre démarche est centrée sur la durabilité, de l'extraction des ressources à la livraison, pour un avenir responsable"|trans }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_2 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="col-10 col-lg-8">
                                    <h5 class="display-3 text-primaire fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{ "Votre partenaire solide pour un avenir meilleur"|trans }}
                                    </h5>
                                    <p class="fs-5 text-white mb-4 pb-2 animated fadeInUpBig delay-05s">
                                        {{ "Nous sommes votre partenaire de confiance, offrant des granulats de qualité et des solutions sur mesure pour bâtir un avenir prometteur ensemble"|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="0" aria-label="Slide 1"
                        class="active" aria-current="true"></button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-control">
                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                        data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                        data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="bloc-contact">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-4">
                        <div class="contact-item h-100">
                            <div class="contact-inner">
                                <div class="icon me-3">
                                    <i class="fa-solid fa-location-dot fa-3x"></i>
                                </div>
                                <div class="text">
                                    <h4 class="text-center mb-3 mt-3">Adresse</h4>
                                    <p>Nkolmekok-Myom II, Yaoundé</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-item h-100">
                            <div class="contact-inner">
                                <div class="icon me-3">

                                    <i class="fa-solid fa-phone fa-3x"></i>
                                </div>
                                <div class="text">
                                    <h4 class="text-center mb-3 mt-3">Telephone</h4>
                                    <p>+237 665 549 639
                                        <br>
                                        +237 682 223 658</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-item h-100">
                            <div class="contact-inner">
                                <div class="icon me-3">
                                    <i class="fa-solid fa-envelope fa-3x"></i>
                                </div>
                                <div class="text">
                                    <h4 class="text-center mb-3 mt-3">Email</h4>
                                    <p>info@granulatsducameroun.com
                                        <br>
                                        gracamcmr@yahoo.fr</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 p-5 position-relative">
        <div class="text-center mt-5   wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="section-title bg-white text-center text-primaire">
                {{ "A PROPOS DE GRACAM"|trans }}
            </h2>
        </div>
        <div class="row ">
            <div class="col-lg-6  ">
                <div class=" shadow p-5 rounded-4 bordure">
                    <h3 class="font-weight-bold">
                        Notre histoire
                    </h3>
                    <hr class="w-20 border-primaire border-4 ">
                    <br>
                    <p>
                        Fondée depuis plusieurs décennies, Gracam est le fruit d'une vision audacieuse pour créer une
                        entreprise qui soit à la fois un leader dans l'industrie des granulats et un exemple de
                        responsabilité environnementale. Notre parcours a été marqué par des investissements continus
                        dans la technologie, la formation de notre personnel, et la recherche de méthodes d'extraction
                        novatrices, permettant ainsi à Gracam de devenir un acteur de premier plan dans ce secteur.
                    </p>

                    <a class="btn btn-order rounded-4" href="{{ path('About') }}">Lire plus</a>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center ">
                <div class="w-100">
                    <img src="{{ asset('images/groupe.jpeg') }}"
                         class="img-fluid img-centre start-0 mt-5 rounded-4 "
                         alt="...">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid  p-5">

        <div class="text-center   wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="section-title bg-white text-center text-bleu px-3 mb-5">
                {{ "POURQUOI NOUS CHOISIR"|trans }}
            </h2>

        </div>
        <div class="row g-5 d-flex align-items-center ">
            <div class="col-lg-6">
                <img src="{{ asset('images/carriere.avif') }}" class="img-fluid rounded-4" alt="">
            </div>
            <div class="col-lg-6">
                <div class="shadow p-5 rounded-4 bordure">
                    <h5>
                        La société GRACAM s’appuie sur des valeurs fortes qui lui permettent de garantir la satisfaction
                        totale de ses partenaires.
                    </h5>
                    <hr class="w-20 border-primaire border-4 ">
                    <br>
                    <p>
                        Notre engagement envers la qualité, la durabilité et l'innovation est au cœur de notre ADN. Nous mettons un point d'honneur à fournir des produits et des services de la plus haute qualité, répondant aux normes les plus strictes de l'industrie. La responsabilité environnementale guide chacune de nos actions, de l'extraction des matériaux à la livraison, assurant ainsi une empreinte écologique minimale. De plus, notre dévouement envers nos partenaires se traduit par une collaboration transparente et des solutions sur mesure pour répondre à leurs besoins spécifiques. Chez GRACAM, l'éthique, l'intégrité et le respect sont des valeurs fondamentales, garantissant une relation solide et durable avec nos clients, fournisseurs et communautés locales. Notre engagement envers l'excellence et notre souci constant de l'amélioration continue font de nous un partenaire de confiance, prêt à relever les défis les plus exigeants de l'industrie des granulats.
                    </p>



                </div>

            </div>
        </div>
    </div>
    <div class="text-center  wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="section-title bg-white text-center text-bleu px-3 mb-5">
            {{ "NOS PRINCIPAUX SERVICES"|trans }}
        </h2>

    </div>
    <div class="bannere  p-5 bg-light ">


        <div class="container-fluid  mb-5  ">
            <div class="row">
                <div class="col-lg-12">

                    <h5 class="text-center">
                        La société GRACAM est implantée dans la localité de NKOLMEKOK-NYOM II où elle exploite un
                        gisement de gneiss. Son siège social est situé à Yaoundé.

                    </h5>


                </div>
                <div class="col-lg-4 col-md-12 mt-3 ">
                    <div class="bloc-blanc rounded-4 p-5 text-center h-100">
                        <div class="bloc-header-orange">
                            <h2>
                                <strong>
                                    Mines
                                </strong>
                            </h2>
                        </div>

                        <p class="mt-3">
                            <strong>
                            Le pôle "Mines" riche de plusieurs concessions et permis d’exploration/exploitation
                            couvrant les principales zones minières du pays, dispose également d’un bureau de
                            commercialisation des substances.
                            </strong>
                        </p>


                        <a class="btn btn-order rounded-4 mt-2" href="{{ path('Mines') }}">En savoir plus</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-3">
                    <div class="bloc rounded-4 p-5 text-center h-100">
                        <div class="bloc-header">

                            <h5>
                                <strong>
                                    Pierres ornementales et marbres
                                </strong>
                            </h5>

                        </div>

                        <p class="mt-3">
                        <strong>
                           Le pôle "Pierre ornementale" exploite et gère une carrière de roche
                            massive(granit) cette fois à des fins de production de blocs de roche dures destinés à
                            l’unité de découpage, ponçage et traitement.
                        </strong>
                        </p>


                        <a class="btn btn-order-orange rounded-4 mt-2" href="{{ path('Pierres Ornementales') }}">En
                            savoir plus</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-3">
                    <div class="bloc-blanc rounded-4 p-5 text-center h-100">
                        <div class="bloc-header-orange">

                            <h2>
                                <strong>
                                Agregat
                                </strong>
                            </h2>

                        </div>

                        <p class="mt-3">
                            <strong>
                            Le pôle "Agrégat"se spécialise dans l'extraction et la vente de matériaux granulaires,
                            notamment le sable
                            et le gravier, pour soutenir les besoins de l'industrie de la construction. Son
                            engagement envers la qualité et l'approvisionnement fiable en font un acteur clé sur le
                            marché.
                            </strong>
                        </p>



                        <a class="btn btn-order rounded-4 mt-2" href="{{ path('Agregat') }}">En savoir plus</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="text-center  wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="section-title bg-white text-center text-bleu px-3  mt-5">
            {{ "NOS PRODUITS"|trans }}
        </h2>

    </div>
    <div class="container-fluid p-5 sable mt-5 align-items-center">
        <div class="row align-items-center">

            <div class="col-lg-6 text-center carriere-inner my-5 py-3 pe-5 wow fadeInLeft mt-5" data-wow-delay="0.2s">


                <div class="text-center mb-5  wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="  text-center  px-3 mb-5 mt-4">
                        {{ "NOS PRODUITS"|trans }}
                    </h2>
                </div>
                <p class="fs-5 pe-5 mt-5 wow fadeInLeft" data-wow-delay="0.7s"
                >
                    Notre catalogue comprend du gravier 5/15, du gravier 15/25, du sable de carrière 0/5 ainsi
                    que du Tout Venant 0/31.5. <br>Retrouvez chez nous les matériaux parfaits pour concrétiser vos
                    projets de construction avec confiance
                    et qualité.</p>
                <div class="text-center">
                    <a class="btn btn-order-orange btn-effect mt-5 mb-5" href="{{ path('Produits') }}">
                        Plus de détails ...
                    </a>
                </div>

            </div>
            {#<div class="col-lg-6 text-center d-flex align-items-center">
                <img src="{{ asset('images/image12.jpg') }}" class="img-fluid  start-0 rounded-4 " alt="">

            </div>#}

        </div>
    </div>






    <div class="container-fluid p-5 h-100">

        <div class="container ">
            <div class="text-center ">

                <div class="text-center  wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="section-title bg-white text-center text-bleu px-3 ">
                        {{ "GALERIE"|trans }}
                    </h1>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="row ">
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""> 
                                <img src="{{ asset('images/image15.jpg') }}" class="img-fluid   rounded-4 " alt="">
                            </a>

                        </div>
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""> 
                                <img src="{{ asset('images/image16.jpg') }}" class="img-fluid   rounded-4 " alt="">
                            </a>

                        </div>

                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href="">
                                <img src="{{ asset('images/image18.jpg') }}" class="img-fluid   rounded-4 " alt="">
                            </a>

                        </div>
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""> 
                                <img src="{{ asset('images/image19.jpg') }}" class="img-fluid   rounded-4 " alt="">
                            </a>

                        </div>
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href="">
                                <img src="{{ asset('images/image20.jpg') }}" class="img-fluid rounded-4" alt="">
                            </a>

                        </div>
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href="">
                                <img src="{{ asset('images/sable.jpg') }}" class="img-fluid rounded-4" alt="">
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}