{% extends 'layout.html.twig' %}
{% block title %} {{ "A propos"|trans }} - Gracam {% endblock %}
{% block about %}actif{% endblock %}
{% block body %}

    {# <div class="container-fluid image10">

     </div>#}


    <!-- About Start -->

    <div class="bannere  p-5 bg-light ">

        <div class="text-center mb-5 mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="  text-center  px-3 mb-5">
                {{ "AGREGAT"|trans }}
            </h2>
        </div>
        <div class="container-fluid  mb-5  ">
            <div class="row d-flex justify-content-center">

                <div class="col-lg-8 col-md-12 mt-3  ">
                    <div class="bloc-blanc mb-5 rounded-4 p-5 text-center bloc-aspect ">
                        <div class="bloc-header-orange">
                            <h2>Agregat</h2>
                        </div>
                        <p class="mb-4 mt-5">


                            {{ "Le pôle Agregat est un maillon essentiel de l'industrie de la construction, se spécialisant dans l'extraction, le traitement, et la vente de matériaux granulaires tels que le sable et le gravier. Ces matériaux sont indispensables pour la réalisation de projets de construction, qu'il s'agisse de routes, de bâtiments, d'infrastructures, ou d'aménagements paysagers."|trans }}

                        </p>
                        <p class="mb-4">
                            {{ "L'extraction de ces agrégats est effectuée avec soin pour garantir la qualité et la fiabilité des matériaux fournis. Des processus modernes et respectueux de l'environnement sont utilisés pour extraire, trier, et nettoyer le sable et le gravier. Cela permet de s'assurer que les matériaux répondent aux normes de qualité les plus strictes, ce qui est crucial pour la sécurité et la durabilité des projets de construction."|trans }}
                            {{ "Le pôle Agregat s'efforce également de maintenir un approvisionnement fiable pour ses clients. Il gère ses opérations de manière à garantir une disponibilité constante des matériaux granulaires, même pour les projets de grande envergure. Cela permet aux entrepreneurs, aux entreprises de construction, et aux organismes gouvernementaux de planifier leurs projets en toute confiance, sachant qu'ils disposeront des matériaux nécessaires en temps voulu."|trans }}
                            {{ "Outre son rôle de fournisseur essentiel pour l'industrie de la construction, le pôle Agregat est également engagé dans des pratiques durables. Il veille à minimiser les impacts environnementaux de ses activités, en prenant des mesures pour restaurer les sites d'extraction après utilisation et en surveillant attentivement les ressources en eau et la faune locales. Cette approche écologiquement responsable contribue à préserver l'environnement tout en répondant aux besoins de l'industrie."|trans }}
                        </p>





                    </div>
                </div>

            </div>


        </div>
    </div>

    <!-- About End -->
{% endblock %}



