{% extends 'layout.html.twig' %}
{% block title %} {{ "A propos"|trans }} - Gracam {% endblock %}
{% block services %}active{% endblock %}
{% block body %}

    {# <div class="container-fluid image10">

     </div>#}
    <div class="container-fluid py-5 page-header-service">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Nos Services"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Services Distribution"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 d-flex service">
        <div class="container fs-5 mb-5">
            <div class="row g-5 p-5">
                <div class="col-lg-6 wow fadeInLeft d-flex align-items-center" data-wow-delay="0.6s">
                    <div class="position-relative service-image">
                        <img class="img-fluid h-100 fit-cover w-100 img-centre shadow"
                             src="{{ asset('../images/image36.jpg') }}" alt="distribution">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight p-5 service-bordure" data-wow-delay="0.6s">
                    <div class="row">
                        <h3 class="text-center service-title mb-3">
                            {{ "Distribution de produits"|trans }}
                        </h3>

                        <div class="col-11 offset-1">
                            <p class="mb-4">
                                {{ "La planification est la première étape cruciale de tout projet.
                                Notre équipe de professionnels chevronnés travaille en étroite collaboration avec vous
                                pour comprendre vos objectifs, vos contraintes et vos exigences spécifiques.
                                Nous effectuons une analyse approfondie du terrain, des ressources disponibles et des
                                réglementations en vigueur pour élaborer des plans détaillés qui optimisent l'efficacité
                                et la sécurité de votre infrastructure."|trans }}

                            </p>
                            <p class="mb-0">
                                {{ "GRACAM se distingue dans le domaine des matériaux de construction en proposant des
                                solutions innovantes et fiables pour répondre aux besoins croissants de l'industrie."|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5 p-5">
                <div class="col-lg-6 wow fadeInLeft p-5 service-bordure-right" data-wow-delay="0.6s">
                    <div class="row">
                        <h3 class="text-center service-title mb-3">
                            {{ "Accompagnement"|trans }}
                        </h3>
                        <div class="col-11">
                            <p class="mb-4">
                                {{ " La construction est l'étape où nos compétences techniques prennent vie.
                                Nous avons une équipe de professionnels qualifiés et expérimentés qui travaillent avec
                                précision et efficacité pour réaliser votre projet."|trans }}
                                {{ "En utilisant des méthodes de construction avancées et en respectant les délais convenus,
                                nous assurons la mise en place de granulats de haute qualité, conformes aux
                                spécifications requises."|trans }}

                            </p>
                            <p class="mb-0">
                                {{ "GRACAM se distingue dans le domaine des matériaux de construction en proposant des
                                solutions innovantes et fiables pour répondre aux besoins croissants de l'industrie."|trans }}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 wow fadeInRight d-flex align-items-center" data-wow-delay="0.6s">
                    <div class="position-relative service-image-right">
                        <img class="img-fluid h-100 fit-cover w-100 img-centre shadow"
                             src="{{ asset('../images/image36.jpg') }}" alt="distribution">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- About End -->
{% endblock %}



