{% extends 'layout.html.twig' %}
{% block title %} {{ "Galerie"|trans }} - Eau là là{% endblock %}
{% block gallery %} active {% endblock %}
{% block photobox_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.2/photobox/photobox.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container-fluid py-5 page-header-galerie">

        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Galerie photo"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Gallery') }}">
                                    {{ "Galerie"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Galerie photo"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>



    {# <div class="container-fluid image35">

     </div>
 #}
    <div class="container-fluid p-5 h-100">

        <div class="container ">
            <div class="text-center">
                <h1 class="service-title text-center">
                    Galerie photo
                </h1>
            </div>
            {#<div class="row g-5 justify-content-center mt-3">
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="{{ asset('../images/galerie.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="{{ asset('../images/galerie_1.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="{{ asset('../images/galerie_3.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="{{ asset('../images/galerie_9.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="{{ asset('/images/galerie_8.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="{{ asset('/images/galerie_10.jpg') }}" alt="">
                    </div>
                </div>
            </div>#}

            <div class="row justify-content-center mt-5">
                <div id="gallery">
                    <a href="{{ asset("../images/galerie.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_1.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_1.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_2.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_2.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_3.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_3.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_4.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_4.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_5.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_5.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_6.jpeg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_6.jpeg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_7.jpeg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_7.jpeg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_8.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_8.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_9.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_9.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_10.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_10.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_11.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_11.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_12.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_12.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_13.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_13.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_14.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_14.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_15.jpeg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_15.jpeg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_16.jpeg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_16.jpeg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_17.jpeg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_17.jpeg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_18.jpeg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_18.jpeg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_19.jpeg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_19.jpeg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_20.jpeg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_20.jpeg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_21.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_21.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_22.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_22.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_23.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_23.jpg") }}" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>

    {% block photobox_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.2/photobox/jquery.photobox.min.js"></script>
    {% endblock %}
{% endblock %}