{% extends 'layout.html.twig' %}
{% block title %} {{ "Galerie"|trans }} - Eau là là{% endblock %}
{% block gallery %} actif {% endblock %}
{%  block photobox_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.2/photobox/photobox.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container-fluid py-5 page-header-galerie">

        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Galerie photo"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Galerie photo"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>



   {# <div class="container-fluid image35">

    </div>
#}
    <div class="container-fluid p-5 h-100">

        <div class="container ">
            <div class="text-center ">
                <h1 class="section-title bg-white text-bleu text-center ">
                    GALERIE PHOTO
                </h1>
            </div>
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="row mt-5">
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""> <img src="{{ asset('assets/img/image5.jpg') }}"
                                                                 class="img-fluid   rounded-4 "></a>

                        </div>
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""> <img src="{{ asset('assets/img/image6.jpg') }}"
                                                                 class="img-fluid   rounded-4 "></a>

                        </div>

                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""><img src="{{ asset('assets/img/image7.jpg') }}"
                                                                class="img-fluid   rounded-4 "></a>

                        </div>
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""> <img src="{{ asset('assets/img/image9.jpg') }}"
                                                                 class="img-fluid   rounded-4 "></a>

                        </div>
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""><img src="{{ asset('assets/img/image22-22.jpg') }}"
                                                                class="img-fluid  rounded-4 "></a>

                        </div>
                        <div class="col-lg-4  wow zoomIn g-5" data-wow-delay="0.2s">

                            <a class="galerie-img" href=""><img src="{{ asset('assets/img/image23.jpg') }}"
                                                                class="img-fluid   rounded-4 "></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {%  block photobox_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.2/photobox/jquery.photobox.min.js" ></script>
    {% endblock %}
{% endblock %}