{% extends 'layout.html.twig' %}
{% block title %} {{ "Galerie"|trans }} - Eau là là{% endblock %}
{% block gallery %} active {% endblock %}
{% block photobox_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.2/photobox/photobox.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container-fluid py-5 page-header-galerie">

        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Galerie photo"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Gallery') }}">
                                    {{ "Galerie"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Galerie photo"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>



    {# <div class="container-fluid image35">

     </div>
 #}
    <div class="container-fluid p-5 h-100">

        <div class="container ">
            <div class="text-center">
                <h1 class="service-title text-center">
                    Galerie photo
                </h1>
            </div>
            <div class="row g-5 justify-content-center mt-3">
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="../images/realisation1.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="/images/realisation3.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="/images/realisation7.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="/images/realisation5.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="/images/image17.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="album-cover mb-5">
                        <img src="/images/realisation6.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {% block photobox_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.2/photobox/jquery.photobox.min.js"></script>
    {% endblock %}
{% endblock %}