{% extends 'layout.html.twig' %}
{% block title %} {{ "Galerie"|trans }} - Eau là là{% endblock %}
{% block gallery %} active {% endblock %}
{% block photobox_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.2/photobox/photobox.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container-fluid py-5 page-header-galerie">

        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center mt-5">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Galerie photo"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Gallery') }}">
                                    {{ "Galerie"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Galerie photo"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-5 h-100">

        <div class="container ">
            <div class="text-center">
                <h1 class="service-title mt-5">
                    Galerie photo
                </h1>
            </div>
            <div class="row justify-content-center mt-5">
                <div id="gallery">
                    <a href="{{ asset("../images/galerie.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_1.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_1_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_2.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_2_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_3.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_3_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_4.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_4_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_5.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_5_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_6.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_6_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_7.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_7_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_8.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_8_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_9.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_9_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_10.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_10_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_11.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_11_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_12.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_12_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_13.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_13_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_14.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_14_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_15.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_15_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_16.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_16_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_17.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_17_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_18.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_18_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_19.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_19_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_20.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_20_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_21.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_21_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_22.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_22_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_23.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_23_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_24.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_24_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_25.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_25_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_26.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_26_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_27.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_27_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_28.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_28_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_29.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_29_thumb.jpg") }}" alt="">
                    </a>
                    <a href="{{ asset("../images/galerie_30.jpg") }}" class="gallery-thumbnail">
                        <img src="{{ asset("../images/galerie_30_thumb.jpg") }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% block photobox_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.2/photobox/jquery.photobox.min.js"></script>
    {% endblock %}
{% endblock %}