{% extends 'layout.html.twig' %}
{% block title %} {{ "Gravier 5/25"|trans }} - Gracam {% endblock %}
{% block about %}actif{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="container">
            <div class="row g-5 mt-2">
                <div class="col-lg-6">
                    <div class="col">
                        <img src="{{ asset('images/produits1.jpg') }}" class="img-fluid rounded-4" id="ProductImg"
                             alt="produits1">
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <img src="{{ asset('images/image20.jpg') }}" class="img-fluid rounded-3 small-img"
                                 alt="produits1">
                        </div>
                        <div class="col-4">
                            <img src="{{ asset('images/sable.jpg') }}" class="img-fluid rounded-3 small-img"
                                 alt="produits1">
                        </div>
                        <div class="col-4">
                            <img src="{{ asset('images/produits1.jpg') }}" class="img-fluid rounded-3 small-img"
                                 alt="produits1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 shadow rounded-3 p-3">
                    <div class="row">
                        <h2 class="text-title">Description</h2>
                        <span class="texte_titre">Gravier 5/25</span>
                    </div>
                    <div class="row">
                        <h4 class="header-title">Caractéristiques</h4>
                        <ul>
                            <li><span class="fw-bold">Granulométrie:</span> de 0 à 4 mm</li>
                            <li><span class="fw-bold">Couleur:</span> Gris - bleu dominant avec nuances en fonction du
                                site
                                de production
                            </li>
                            <li><span class="fw-bold">Forme:</span> Concassé</li>
                            <li><span class="fw-bold">Origine:</span> Nos carrières de roche massive</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h4 class="header-title">Usages</h4>
                        <ul>
                            <li><span class="fw-bold">Assainissement et réseau:</span> Enrobage de canalisations, gaines
                                techniques.
                            </li>
                            <li><span class="fw-bold">Allée et voie d’accès:</span> Couche de finition pour vos allées
                                de jardin.
                            </li>
                            <li><span class="fw-bold">Jardin et décoration:</span> Pose de pavage, terrain de pétanque.
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <h4 class="header-title">Conditionnement : </h4>
                        <ul>
                            <li> Sable vendu en vrac et Big Bag.</li>
                            <li>PrixHT/ : 5870 FCFA /Tonne</li>
                            <li>PrixTTC/ : 7000 FCFA /Tonne</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6 end-0 shadow rounded-3">
                    {{ include('site/calculateurGrave.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <!-- item End -->
{% endblock %}



