{% extends 'layout.html.twig' %}
{% block title %} {{ "A propos"|trans }} - Gracam {% endblock %}
{% block about %}actif{% endblock %}
{% block body %}

    {# <div class="container-fluid image10">

     </div>#}


    <!-- About Start -->

    <div class="bannere  p-5 bg-light ">

        <div class="text-center mb-5 mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="  text-center  px-3 mb-5">
                {{ "SERVICE MINIER"|trans }}
            </h2>
        </div>
        <div class="container-fluid  mb-5  ">
            <div class="row d-flex justify-content-center">

                <div class="col-lg-8 col-md-12 mt-3  ">
                    <div class="bloc-blanc mb-5 rounded-4 p-5 text-center bloc-aspect ">
                        <div class="bloc-header-orange">
                            <h2>Mines</h2>
                        </div>
                        <p class="mb-4 mt-5">


                            {{ "Le pôle \"Mines\" est un élément essentiel de l'industrie minière de notre pays, doté de plusieurs concessions et permis d'exploration/exploitation couvrant les principales zones minières du territoire. Ces zones renferment une variété de ressources précieuses, allant des métaux précieux comme l'or et l'argent aux minéraux industriels tels que le charbon, la bauxite, et bien d'autres."|trans }}

                        </p>
                        <p class="mb-4">
                            {{ "Outre l'exploration et l'exploitation des gisements miniers, le pôle \"Mines\" joue un rôle crucial dans la commercialisation des substances extraites. Son bureau de commercialisation est chargé de mettre en relation les producteurs locaux avec les marchés nationaux et internationaux. Grâce à son expertise dans le secteur minier, le pôle \"Mines\" est en mesure de négocier des contrats avantageux, de garantir des normes de qualité élevées et de répondre aux besoins spécifiques des clients, que ce soit dans le secteur de la construction, de l'industrie automobile, de l'électronique, ou de tout autre domaine nécessitant des matières premières minérales."|trans }}
                            {{ "Nous sommes un symbole d'excellence, d'innovation et de responsabilité environnementale dans l'industrie."|trans }}
                            {{ "Notre engagement envers la qualité inégalée de nos produits et notre dévouement envers la préservation de l'environnement sont au cœur de notre mission."|trans }}
                        </p>
                        <p class="mb-4">
                            {{ "Le bureau de commercialisation agit également comme un intermédiaire entre les entreprises minières et les organismes gouvernementaux, veillant à ce que toutes les réglementations environnementales et de sécurité soient respectées. Il contribue ainsi à assurer une exploitation minière durable, minimisant les impacts négatifs sur l'environnement tout en maximisant les avantages économiques pour le pays."|trans }}
                            {{ "De plus, le pôle \"Mines\" s'engage activement dans la recherche et le développement de technologies minières innovantes, visant à améliorer l'efficacité de l'extraction et à réduire l'empreinte environnementale de l'industrie. Cette approche progressive favorise la croissance à long terme du secteur minier en alignant ses pratiques sur les normes internationales les plus élevées."|trans }}
                        </p>




                    </div>
                </div>

            </div>


        </div>
    </div>

    <!-- About End -->
{% endblock %}



