{% extends 'layout.html.twig' %}
{% block title %} {{ "A propos"|trans }} - Gracam {% endblock %}
{% block about %}actif{% endblock %}
{% block body %}

    {# <div class="container-fluid image10">

     </div>#}


    <!-- About Start -->

    <div class="bannere  p-5 bg-light ">

        <div class="text-center mb-5 mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="  text-center  px-3 mb-5">
                {{ "PIERRES ORNEMENTALES"|trans }}
            </h2>
        </div>
        <div class="container-fluid  mb-5  ">
            <div class="row d-flex justify-content-center">

                <div class="col-lg-8 col-md-12 mt-3  ">
                    <div class="bloc-blanc mb-5 rounded-4 p-5 text-center bloc-aspect ">
                        <div class="bloc-header-orange">
                            <h2>Pierres ornementales</h2>
                        </div>
                        <p class="mb-4 mt-5">


                            {{ "Le pôle Pierre ornementale est une composante importante de notre industrie de la pierre, se consacrant à l'exploitation et à la gestion d'une carrière de roche massive, en l'occurrence du granit. Cette carrière représente une source précieuse de matière première pour la production de blocs de roche dure qui seront ultérieurement transformés à l'unité de découpage, ponçage, et traitement."|trans }}

                        </p>
                        <p class="mb-4">
                            {{ "La carrière de granit est soigneusement sélectionnée pour sa qualité et sa richesse en termes de couleurs, de textures, et de propriétés géologiques. Elle est exploitée de manière durable, en tenant compte des pratiques respectueuses de l'environnement, notamment la réhabilitation des zones d'extraction après leur utilisation."|trans }}
                            {{ "Une fois que les blocs de granit sont extraits de la carrière, ils sont acheminés vers l'unité de découpage, ponçage, et traitement, où le processus de transformation commence. Les blocs bruts sont d'abord découpés en tranches de dimensions spécifiques en fonction des besoins des clients. Ces tranches sont ensuite soumises à un processus de ponçage et de polissage, permettant d'obtenir des surfaces lisses et brillantes."|trans }}
                            {{ "L'unité de traitement est équipée de machines de pointe, gérées par des experts de l'industrie, pour garantir la précision et la qualité du travail. La variété de produits finis inclut des dalles de granit, des carreaux, des éléments architecturaux tels que des colonnes, des sculptures et bien d'autres produits en pierre ornementale."|trans }}
                            {{ "La qualité du granit et la finesse du travail effectué à l'unité de découpage, ponçage, et traitement font de ces produits en pierre ornementale des choix prisés pour une multitude d'applications, que ce soit dans la construction résidentielle et commerciale, la décoration intérieure, ou même des projets artistiques."|trans }}
                            {{ "En parallèle, le pôle Pierre ornementale s'engage à promouvoir la durabilité en veillant à ce que les chutes de roche et les déchets du processus de découpage et de traitement soient gérés de manière responsable. Cela contribue à réduire l'impact environnemental de l'industrie de la pierre ornementale et à soutenir un avenir plus respectueux de l'environnement."|trans }}
                        </p>





                    </div>
                </div>

            </div>


        </div>
    </div>

    <!-- About End -->
{% endblock %}



