{% extends 'layout.html.twig' %}
{% block title %} {{ "Produits"|trans }} -  {% endblock %}
{% block produits %}actif{% endblock %}
{% block body %}
    <!-- Header Start -->
    <div class="container-fluid py-5 mb-5 page-header-produit">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Produits"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Produits"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>




    <!-- Produits End -->

{% endblock %}



