{% extends 'layout.html.twig' %}
{% block title %} {{ "Produits"|trans }} -  {% endblock %}
{% block produits %}actif{% endblock %}
{% block body %}
    <!-- Header Start -->
    <div class="container-fluid py-5 mb-5 page-header-produit">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Produits"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Produits"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <!-- Header End -->

    <!-- Produits Start -->

    <div class="container-fluid sable px-5">
        <div class="row border-1 border rounded-3 mt-5">
            <div class="col-lg-3 p-2">
                <div class="categorie-title">
                    SABLES
                </div>
            </div>
            <div class="col-lg-9 p-4">
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/image19.jpg') }}" alt="sable"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center h-100">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SABLE SANAGA</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/sanaga.jpg') }}" alt="sable"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SABLE SANAGA</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/sanaga.jpg') }}" alt="sable"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SABLE SANAGA</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Produits End -->

{% endblock %}



