{% extends 'layout.html.twig' %}
{% block title %} {{ "Produits"|trans }} -  {% endblock %}
{% block produits %}actif{% endblock %}
{% block body %}
    <!-- Header Start -->
    <div class="container-fluid py-5 mb-5 page-header-produit">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated fadeIn">
                        {{ "Produits"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Produits"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <!-- Header End -->

    <!-- Produits Start -->

    <div class="container-fluid sable px-5">
        <div class="row border border-3  rounded-3 mt-5 sables">
            <div class="col-lg-3 p-2">
                <div class="categorie-title rounded-3">
                    SABLES
                </div>
            </div>
            <div class="col-lg-9 p-4 d-flex align-items-center">
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/image19.jpg') }}" alt="sable"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center h-100">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SABLE SANAGA</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">4300 TTC - 3605 HT</span>

                                </div>
                            </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/sanaga.jpg') }}" alt="sable"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SABLE CARRIERE</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">5000 TTC - 4192 HT</span>

                                </div>
                            </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/sanaga.jpg') }}" alt="sable"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SABLE SANAGA</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">4300 TTC - 3605 HT</span>
                                </div>
                            </div>
                            <!-- Product actions-->

                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sable px-5">
        <div class="row border border-3  rounded-3 mt-5 sables-1">
            <div class="col-lg-3 p-2">
                <div class="categorie-title-1 rounded-3">
                    GRAVIERS
                </div>
            </div>
            <div class="col-lg-9 p-4 d-flex align-items-center">
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/image19.jpg') }}" alt="gravier"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center h-100">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">GRAVIER 5/15</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">8000 TTC - 6708 HT</span>

                                </div>
                            </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/15-25.jpg') }}" alt="gravier"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">GRAVIER 15/25</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">8000 TTC - 6708 HT</span>

                                </div>
                            </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/5-25.png') }}" alt="gravier"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">GRAVIER 5/25</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">7000 TTC - 5870 HT</span>
                                </div>
                            </div>
                            <!-- Product actions-->

                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sable px-5">
        <div class="row border border-3  rounded-3 mt-5 sables-1">
            <div class="col-lg-3 p-2">
                <div class="categorie-title-1 rounded-3">
                    GRAVIERS
                </div>
            </div>
            <div class="col-lg-9 p-4 d-flex align-items-center">
                <div class="row gx-5 ">
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/image19.jpg') }}" alt="gravier"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center h-100">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">GRAVIER 0/50</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">8200 TTC - 6876 HT</span>

                                </div>
                            </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/grav 0-50.png') }}" alt="gravier"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">GRAVIER 0/100</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">8200 TTC - 6876 HT</span>

                                </div>
                            </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/Ballast 20-50.png') }}" alt="gravier"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">BALLAST 20/50</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">7000 TTC - 5870 HT</span>
                                </div>
                            </div>
                            <!-- Product actions-->

                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sable px-5">
        <div class="row border border-3  rounded-3 mt-5 sables-2">
            <div class="col-lg-3 p-2">
                <div class="categorie-title-2 rounded-3">
                    PIERRES
                </div>
            </div>
            <div class="col-lg-9 p-4 d-flex align-items-center">
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('images/image35.jpg') }}" alt="pierre"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center h-100">
                                    <!-- Product name-->

                                    <h5 class="fw-bolder">PIERRE ORNEMENTALE</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">4300 TTC - 3605 HT</span>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="">
                            <img class="card-img-top" src="{{ asset('images/moellons.png') }}" alt="pierre"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">MOELLONS</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">7500 TTC - 6289 HT</span>

                                </div>
                            </div>
                            </a>

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="">
                        <div class="card h-100">
                            <!-- Product image-->

                            <img class="card-img-top" src="{{ asset('images/sterile.png') }}" alt="pierre"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">STERILE</h5>
                                    <!-- Product price-->
                                    <span class="fw-bolder">3000 TTC - 2515 HT</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Produits End -->

{% endblock %}



