<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Les granulats du Cameroun">
    <meta name="title" content="GRACAM">
    <meta name="author" content="EUCLIDES">
    <title>Gracam - {{ "Les granulats du Cameroun"|trans }}</title>

    <!-- Libraries Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    {% block photobox_css %} {% endblock %}

    <!-- Site Stylesheet -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {#    <link href="{{ asset('css/style.min.css') }}" rel="stylesheet">#}
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top p-0 {% block nav %}{% endblock %}" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('Accueil') }}">
            <img class="img-logo" src="{{ asset('../images/logo.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll align-items-center">
                <div class="nav-item {% block home %} {% endblock %}">
                    <a class="nav-link" aria-current="page" href="{{ path('Accueil') }}">
                        {{ "Accueil"|trans }}
                    </a>
                </div>
                <div class="nav-item dropdown {% block produits %} {% endblock %}">
                    <a class="nav-link" href="{{ path('Produits') }}">
                        {{ "Produits"|trans }}
                    </a>
                    <div class="dropdown-menu megaMenu text-center py-5">
                        <div class="row">
                            <div class="col-md-3">
                                <div>
                                    <h5 class="dropdown-header mb-3 p-0">
                                        {{ "Sables"|trans }}
                                    </h5>
                                </div>
                                <div>
                                    <a href="{{ path('SablesRiviere') }}" class="dropdown-item">
                                        {{ "Sable de rivière"|trans }}
                                    </a>
                                </div>
{#                                <div>#}
{#                                    <a href="{{ path('SablesSanaga') }}" class="dropdown-item">#}
{#                                        {{ "Sable de Sanaga"|trans }}#}
{#                                    </a>#}
{#                                </div>#}
                                <div>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <h5 class="dropdown-header mb-3 p-0">
                                        {{ "Graviers"|trans }}
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <a href="{{ path('gravier5_15') }}" class="dropdown-item">
                                                {{ "Gravier 5/15"|trans }}
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('gravier15_25') }}" class="dropdown-item">
                                                {{ "Gravier 15/25"|trans }}
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('gravier5_25') }}" class="dropdown-item">
                                                {{ "Gravier 5/25"|trans }}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <a href="{{ path('gravier0_5') }}" class="dropdown-item">
                                                {{ "Graviers 0/50"|trans }}
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('gravier0_100') }}" class="dropdown-item">
                                                {{ "Graviers 0/100"|trans }}
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('ballast') }}" class="dropdown-item">
                                                {{ "Ballast"|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <h5 class="dropdown-header mb-3 p-0">
                                        {{ "Pierres"|trans }}
                                    </h5>
                                </div>
                                <div>
                                    <a href="{{ path('pierreornementale') }}" class="dropdown-item">
                                        {{ "Granite"|trans }}
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('moellons') }}" class="dropdown-item">
                                        {{ "Moellons"|trans }}
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('sterile') }}" class="dropdown-item">
                                        {{ "Sterile"|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown {% block services %} {% endblock %}">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu">
                        <div>
                            <a class="dropdown-item" href="{{ path('distribution') }}#distribution">
                                {{ "Distribution"|trans }}
                            </a>
                        </div>
                        <div>
                            <a class="dropdown-item px-5" href="{{ path('distribution') }}#accompagnement">
                                {{ "Accompagnement"|trans }}
                            </a>
                        </div>

                    </div>
                </div>
                <div class="nav-item {% block commandes %} {% endblock %}">
                    <a class="nav-link" href="#">
                        {{ "Commandes"|trans }}
                    </a>
                </div>
                <div class="nav-item {% block gallery %} {% endblock %}">
                    <a class="nav-link" href="{{ path('Gallery') }}">
                        {{ "Galerie"|trans }}
                    </a>
                </div>
                <div class="nav-item {% block about %} {% endblock %}">
                    <a class="nav-link" href="{{ path('About') }}">
                        {{ "A propos"|trans }}
                    </a>
                </div>
                <div class="nav-item {% block contact %} {% endblock %}">
                    <a class="nav-link" href="{{ path('Contact') }}">
                        {{ "Contact"|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <button id="changelang" class="lang-button me-5">
    </button>
</nav>
{% block body %}

{% endblock %}

<footer class="text-secondaire">
    <div class="container-fluid footer pt-3">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 ">
                    <h1>Gracam</h1>
                    <p class="mt-4 text-white">
                        Gracam est le fruit d'une vision audacieuse pour créer
                        une entreprise qui soit à la fois un leader dans l'industrie des granulats et un exemple de
                        responsabilité environnementale.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">{{ "Liens utiles"|trans }}</h4>
                    <a class="btn btn-link" href="{{ path('Accueil') }}">{{ "Accueil"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('Produits') }}">{{ "Produits"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('Distribution') }}">{{ "Services"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('About') }}">{{ "A propos"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('Gallery') }}">{{ "Galerie"|trans }}</a>
                    {#                    <a class="btn btn-link" href="{{ path('Carriere') }}">{{ "Carrière"|trans }}</a>#}
                    {#                    <a class="btn btn-link" href="{{ path('Contact') }}">{{ "Contact"|trans }}</a>#}
                </div>
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">
                        {{ "Réseaux sociaux"|trans }}
                    </h4>
                    <div class="row">
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-facebook">
                                    Gracam
                                </span>
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-twitter">
                                    Gracam
                                </span>
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-instagram">
                                    Gracam
                                </span>
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-youtube">
                                    Gracam
                                </span>
                                <i class="fab fa-youtube fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-linkedin">
                                    Gracam
                                </span>
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">
                        {{ "Contact"|trans }}
                    </h4>
                    <div class="mt-1 text-white">
                            Nkolmekok-Myom II, Yaoundé
                    </div>
                    <div class="mt-1 text-white">
                        Tel :
                        <a class="footer-link" href="tel:+237682223658">+237 682 223 658</a> /
                        <a class="footer-link" href="tel:+237665549639"> +237 665 549 639</a>
                    </div>
                    <div class="mt-1 text-white">
                            BP : 3582 Yaoundé
                    </div>
                    <div class="mt-1 text-white">
                            Email :
                        <a class="footer-link" href="mailto:info@granulatsducameroun.com">
                            info@granulatsducameroun.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start">
                <p class="mb-0">&copy; 2024 Gracam, {{ "Tout droits réservés."|trans }}</p>
            </div>
            <div class="py-4 px-5 bg-secondaire footer-shape position-relative text-center text-md-end">
                <p class="mb-0 text-primaire">
                    Designed By
                    <a class="fw-bold text-primaire" href="https://euclideservices.com" target="_blank">EUCLIDES</a>
                </p>
            </div>
        </div>
    </div>

</footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="back-to-top">
    <i class="fa-solid fa-angles-up"></i>
</a>

<!-- JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" async></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" ></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.8.0/countUp.min.js"></script>#}
{% block photobox_js %} {% endblock %}


<!-- Main Javascript -->
<script src="{{ asset('js/main.js') }}"></script>
{% block scroll %}
    <script>
        /***Start Funtion pour Scroll navbar**/
        window.addEventListener('scroll', function () {
            var navbar = document.getElementById('navbar');
            var links = navbar.getElementsByClassName('nav-link');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
        /***End Funtion pour Scroll navbar change bg-color**/
    </script>
{% endblock %}
{#<script src="{{ asset('js/main.min.js')}}"></script>#}


</body>
</html>