<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gracam - {{ "Les granulats du Cameroun" }}</title>

    <!-- Libraries Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    {%  block photobox_css %} {% endblock %}

    <!-- Site Stylesheet -->
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    {#    <link href="{{ asset('css/style.min.css')}}" rel="stylesheet">#}

</head>
<body>
<nav class="cc-navbar navbar navbar-expand-lg  navbar-dark w-100 bg-body-tertiary fixed-top" id="cc-top-bar">
    <a class="navbar-brand text-uppercase fw-bolder mx-4  text-dark" href="#">
        <img src="{{ asset('images/logo.png') }}" class="logo" alt="logo"></a>
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fas fa-bars fa-2x"></i>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item {% block home %}{% endblock %}">
                <a class="nav-link" href="{{ path('Accueil') }}">
                    {{ "Accueil"|trans}}
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"{# onmouseover="openDropdown(this)"#}>
                    {{ "A propos"|trans}}
                </a>
                <ul class="dropdown-menu" {#onmouseleave="closeDropdown(this)"#}>
                    <li>
                        <a class="dropdown-item" href="{{ path('About') }}">
                            {{ "Qui sommes nous"|trans}}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('Motdupresident') }}">
                            {{ "Mot du président"|trans}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  {% block produits %}{% endblock %}">
                <a class="nav-link " href="{{ path('Produits') }}">
                    {{ "Produits"|trans}}
                </a>
            </li>
            <li class="nav-item  {% block carriere %}{% endblock %}">
                <a class="nav-link" href="{{ path('Carriere') }}">
                    {{ "Carrière"|trans}}
                </a>
            </li>
            <li class="nav-item  {% block gallery %}{% endblock %} ">
                <a class="nav-link " href="{{ path('Gallery') }}">
                    {{ "Galerie"|trans}}
                </a>
            </li>
            <li class="nav-item  {% block contact %}{% endblock %}">
                <a class="nav-link " href="{{ path('Contact') }}">
                    {{ "Contact"|trans}}
                </a>
            </li>

        </ul>
    </div>
</nav>
{% block body %}

{% endblock %}
<div class="container-fluid mt-5">&nbsp;</div>
<footer class="couleur">
    <div class="container-fluid p-5 mb-5 mt-5">
        <div class="row">
            <div class="col-lg-3 ">
                <h1>Gracam</h1>
            </div>
            <div class="col-lg-3">
                <h3>Autres pages</h3>
                <a class="nav-link footer" href="#">Accueil</a>
                <a class="nav-link footer" href="#">A propos de nous</a>
                <a class="nav-link footer" href="#">Services</a>
                <a class="nav-link footer" href="#">Produits</a>
                <a class="nav-link footer" href="#">Carriere</a>
                <a class="nav-link footer" href="#">Galerie</a>
                <a class="nav-link footer" href="#">Nous contacter</a>
            </div>
            <div class="col-lg-3">
                <h3>Reseaux sociaux</h3>
                <p>Facebook
                    <br>
                    Instagram
                </p>
            </div>
            <div class="col-lg-3">
                <h3>Contact</h3>
                <div class="mt-1">
                    Nkolmekok-Myom II, Yaoundé
                </div>
                <div class="mt-1">
                    Tel : +237 682 223 658 / 665 549 639
                </div>
                <div class="mt-1">
                    BP : 3582 Yaoundé
                </div>
                <div class="mt-1">
                    Email : info@granulatsducameroun.com
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start">
                <p class="mb-0">&copy; 2023 Gracam, {{ "Tout droits réservés."|trans }}</p>
            </div>
            <div class="py-4 px-5 bg-blanc footer-shape position-relative text-center text-md-end ">
                <p class="text-primaire mb-0">
                    Designed By
                    <a class="fw-bold text-primaire" href="https://euclideservices.com" target="_blank">EUCLIDES</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" async></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" ></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.8.0/countUp.min.js"></script>#}

<!-- Main Javascript -->
<script src="{{ asset('js/main.js')}}"></script>
{#<script src="{{ asset('js/main.min.js')}}"></script>#}
</body>
</html>