<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Les granulats du Cameroun">
    <meta name="title" content="GRACAM">
    <meta name="author" content="EUCLIDES">
    <title>Gracam - {{ "Les granulats du Cameroun"|trans }}</title>

    <!-- Libraries Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    {% block photobox_css %} {% endblock %}

    <!-- Site Stylesheet -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {#    <link href="{{ asset('css/style.min.css') }}" rel="stylesheet">#}
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top p-0" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('Accueil') }}">
            <img class="img-logo" src="{{ asset('../images/logo.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll align-items-center">
                <div class="nav-item active">
                    <a class="nav-link" aria-current="page" href="{{ path('Accueil') }}">
                        {{ "Accueil"|trans }}
                    </a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link" href="{{ path('Produits') }}">
                        {{ "Produits"|trans }}
                    </a>
                    <div class="dropdown-menu megaMenu text-center py-5">
                        <div class="row">
                            <div class="col-md-3">
                                <div>
                                    <h5 class="dropdown-header mb-3 p-0">
                                        {{ "Sables"|trans }}
                                    </h5>
                                </div>
                                <div>
                                    <a href="{{ path('SablesRiviere') }}" class="dropdown-item">
                                        {{ "Sable de rivière"|trans }}
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('SablesSanaga') }}" class="dropdown-item">
                                        {{ "Sable de Sanaga"|trans }}
                                    </a>
                                </div>
                                <div>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <h5 class="dropdown-header mb-3 p-0">
                                        {{ "Graviers"|trans }}
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <a href="{{ path('gravier5_15') }}" class="dropdown-item">
                                                {{ "Gravier 5/15"|trans }}
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('gravier15_25') }}" class="dropdown-item">
                                                {{ "Gravier 15/25"|trans }}
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('gravier5_25') }}" class="dropdown-item">
                                                {{ "Gravier 5/25"|trans }}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <a href="{{ path('gravier0_5') }}" class="dropdown-item">
                                                {{ "Graviers 0/50"|trans }}
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('gravier0_100') }}" class="dropdown-item">
                                                {{ "Graviers 0/100"|trans }}
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('ballast') }}" class="dropdown-item">
                                                {{ "Ballast"|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <h5 class="dropdown-header mb-3 p-0">
                                        {{ "Pierres"|trans }}
                                    </h5>
                                </div>
                                <div>
                                    <a href="{{ path('pierreornementale') }}" class="dropdown-item">
                                        {{ "Granite"|trans }}
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('moellons') }}" class="dropdown-item">
                                        {{ "Moellons"|trans }}
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('sterile') }}" class="dropdown-item">
                                        {{ "Sterile"|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu">
                        <div>
                            <a class="dropdown-item" href="{{ path('distribution') }}">
                                {{ "Distribution"|trans }}
                            </a>
                        </div>
                        <div>
                            <a class="dropdown-item px-5" href="#">
                                {{ "Accompagnement"|trans }}
                            </a>
                        </div>

                    </div>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">
                        {{ "Commandes"|trans }}
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{{ path('Gallery') }}">
                        {{ "Galerie"|trans }}
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{{ path('About') }}">
                        {{ "A propos"|trans }}
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{{ path('Contact') }}">
                        {{ "Contact"|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <button id="changelang" class="lang-button me-5">
    </button>
</nav>
{% block body %}
    #707676

    #d85914
{% endblock %}

<footer class="text-secondaire">
    <div class="container-fluid footer pt-3">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 ">
                    <h1>Gracam</h1>
                </div>
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">{{ "Liens utiles"|trans }}</h4>
                    <a class="btn btn-link" href="{{ path('About') }}">{{ "A propos"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('Gallery') }}">{{ "Galerie"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('Carriere') }}">{{ "Carrière"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('Contact') }}">{{ "Contact"|trans }}</a>
                </div>
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">{{ "Réseaux sociaux"|trans }}</h4>
                    <div class="row">
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-facebook">
                                    Gracam
                                </span>
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-twitter">
                                    Gracam
                                </span>
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-instagram">
                                    Gracam
                                </span>
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-youtube">
                                    Gracam
                                </span>
                                <i class="fab fa-youtube fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-linkedin">
                                    Gracam
                                </span>
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h3>Contact</h3>
                    <div class="mt-1">
                        Nkolmekok-Myom II, Yaoundé
                    </div>
                    <div class="mt-1">
                        Tel : +237 682 223 658 / 665 549 639
                    </div>
                    <div class="mt-1">
                        BP : 3582 Yaoundé
                    </div>
                    <div class="mt-1">
                        Email : info@granulatsducameroun.com
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start">
                <p class="mb-0">&copy; 2023 Gracam, {{ "Tout droits réservés."|trans }}</p>
            </div>
            <div class="py-4 px-5 bg-secondaire footer-shape position-relative text-center text-md-end">
                <p class="mb-0 text-primaire">
                    Designed By
                    <a class="fw-bold text-primaire" href="https://euclideservices.com" target="_blank">EUCLIDES</a>
                </p>
            </div>
        </div>
    </div>

</footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="back-to-top">
    <i class="fa-solid fa-angles-up"></i>
</a>

<!-- JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" async></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" ></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.8.0/countUp.min.js"></script>#}


<!-- Main Javascript -->
<script src="{{ asset('js/main.js') }}"></script>
{#<script src="{{ asset('js/main.min.js')}}"></script>#}

<script>
    function calcule() {
        if ($("#longueur").val() > 0 || $("#largeur").val() > 0) {
            $("#surface").val($("#longueur").val() * $("#largeur").val());
            $("#quantite").val("");
            $("#total").val("");
        } else {

            $("#longueur").val("");
            $("#largeur").val("");

        }

    }


    function Prix() {

        $("#quantite").val("");
        $("#total").val("");
        var dimension = $('#calcul_dimenssion option:selected').val();
        var epaiss = $('#calcul_epaisseur option:selected').val();


        // if (!dimension || !epaiss) {
        //     alert("Veuillez remplir la dimension et l'épaisseur.");
        //     return;
        // }
        switch (dimension) {
            case '1':
                position = 1200 * 600;
                if (epaiss === '1') {
                    $("#prixUnitaire").val("72000");
                } else if (epaiss === '2') {
                    $("#prixUnitaire").val("55000");
                } else if (epaiss === '3') {
                    $("#prixUnitaire").val("77000");
                } else if (epaiss === '4') {
                    $("#prixUnitaire").val("80000");
                }
                break;
            case '2':
                position = 600 * 600;
                if (epaiss === '1') {
                    $("#prixUnitaire").val("50000");
                } else if (epaiss === '2') {
                    $("#prixUnitaire").val("38000");
                } else if (epaiss === '3') {
                    $("#prixUnitaire").val("54000");
                } else if (epaiss === '4') {
                    $("#prixUnitaire").val("55000");
                }
                break;
            case '3':
                position = 600 * 300;
                if (epaiss === '1') {
                    $("#prixUnitaire").val("50000");
                } else if (epaiss === '2') {
                    $("#prixUnitaire").val("38000");
                } else if (epaiss === '3') {
                    $("#prixUnitaire").val("54000");
                } else if (epaiss === '4') {
                    $("#prixUnitaire").val("55000");
                }
                break;
            case '4':
                position = 600 * 100;
                if (epaiss === '1') {
                    $("#prixUnitaire").val("50000");
                } else if (epaiss === '2') {
                    $("#prixUnitaire").val("38000");
                } else if (epaiss === '3') {
                    $("#prixUnitaire").val("54000");
                } else if (epaiss === '4') {
                    $("#prixUnitaire").val("55000");
                }
                break;
            case '5':
                position = 300 * 300;
                if (epaiss === '1') {
                    $("#prixUnitaire").val("50000");
                } else if (epaiss === '2') {
                    $("#prixUnitaire").val("38000");
                } else if (epaiss === '3') {
                    $("#prixUnitaire").val("54000");
                } else if (epaiss === '4') {
                    $("#prixUnitaire").val("55000");
                }
                break;
            case '6':
                position = 300 * 100;
                if (epaiss === '1') {
                    $("#prixUnitaire").val("50000");
                } else if (epaiss === '2') {
                    $("#prixUnitaire").val("38000");
                } else if (epaiss === '3') {
                    $("#prixUnitaire").val("54000");
                } else if (epaiss === '4') {
                    $("#prixUnitaire").val("55000");
                }
                break;
            default:
                break;
        }

    }


    function quantites() {
        var longueur = $("#longueur").val();
        var largeur = $("#largeur").val();
        var dimension = $('#calcul_dimenssion').val();
        var epaiss = $('#calcul_epaisseur').val();

        if (!longueur || !largeur || !dimension || !epaiss || longueur < 0 || largeur < 0) {
            alert("Veuillez remplir correctement tous les champs avant de calculer.");
            return;
        }

        var surface = longueur * largeur * 1000000;
        var dimension = $('#calcul_dimenssion option:selected').val();
        var position;
        var quantity;
        var quantite = $("#quantite");
        var epaiss = $('#calcul_epaisseur option:selected').val();


        switch (dimension) {


            case '1':
                position = 1200 * 600;
                quantity = Math.ceil(surface / position);
                quantite.val(quantity);
                if (epaiss === '1') {
                    var prix = new Intl.NumberFormat().format(72000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 72000);
                    $("#total").val(tot);
                } else if (epaiss === '2') {
                    var prix = new Intl.NumberFormat().format(55000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 55000);
                    $("#total").val(tot);
                } else if (epaiss === '3') {
                    var prix = new Intl.NumberFormat().format(77000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 77000);
                    $("#total").val(tot);
                } else if (epaiss === '4') {
                    var prix = new Intl.NumberFormat().format(80000);
                    $("#prixUnitaire").val(prix);
                    $("#total").val(quantity * 80000);
                    var tot = new Intl.NumberFormat().format(quantity * 80000);
                    $("#total").val(tot);
                }
                break;
            case '2':
                position = 600 * 600;
                quantity = Math.ceil(surface / position);
                quantite.val(quantity);
                if (epaiss === '1') {

                    var prix = new Intl.NumberFormat().format(50000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 50000);
                    $("#total").val(tot);

                } else if (epaiss === '2') {

                    var prix = new Intl.NumberFormat().format(38000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 38000);
                    $("#total").val(tot);
                } else if (epaiss === '3') {

                    var prix = new Intl.NumberFormat().format(54000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 54000);
                    $("#total").val(tot);
                } else if (epaiss === '4') {

                    var prix = new Intl.NumberFormat().format(55000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 55000);
                    $("#total").val(tot);
                }
                break;
            case '3':
                position = 600 * 300;
                quantity = Math.ceil(surface / position);
                quantite.val(quantity);
                if (epaiss === '1') {
                    var prix = new Intl.NumberFormat().format(50000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 50000);
                    $("#total").val(tot);
                } else if (epaiss === '2') {
                    var prix = new Intl.NumberFormat().format(38000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 38000);
                    $("#total").val(tot);
                } else if (epaiss === '3') {
                    var prix = new Intl.NumberFormat().format(54000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 54000);
                    $("#total").val(tot);
                } else if (epaiss === '4') {
                    var prix = new Intl.NumberFormat().format(55000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 55000);
                    $("#total").val(tot);
                }
                break;
            case '4':
                position = 600 * 100;
                quantity = Math.ceil(surface / position);
                quantite.val(quantity);
                if (epaiss === '1') {
                    var prix = new Intl.NumberFormat().format(50000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 50000);
                    $("#total").val(tot);
                } else if (epaiss === '2') {
                    var prix = new Intl.NumberFormat().format(38000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 38000);
                    $("#total").val(tot);
                } else if (epaiss === '3') {
                    var prix = new Intl.NumberFormat().format(54000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 54000);
                    $("#total").val(tot);
                } else if (epaiss === '4') {
                    var prix = new Intl.NumberFormat().format(55000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 55000);
                    $("#total").val(tot);
                }
                break;
            case '5':
                position = 300 * 300;
                quantity = Math.ceil(surface / position);
                quantite.val(quantity);
                if (epaiss === '1') {
                    var prix = new Intl.NumberFormat().format(50000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 50000);
                    $("#total").val(tot);
                } else if (epaiss === '2') {
                    var prix = new Intl.NumberFormat().format(38000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 38000);
                    $("#total").val(tot);
                } else if (epaiss === '3') {
                    var prix = new Intl.NumberFormat().format(54000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 54000);
                    $("#total").val(tot);
                } else if (epaiss === '4') {
                    var prix = new Intl.NumberFormat().format(55000);
                    $("#prixUnitaire").val(prix);

                    var tot = new Intl.NumberFormat().format(quantity * 55000);
                    $("#total").val(tot);
                }
                break;
            case '6':
                position = 300 * 100;
                quantity = Math.ceil(surface / position);
                quantite.val(quantity);
                if (epaiss === '1') {
                    var prix = new Intl.NumberFormat().format(55000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 50000);
                    $("#total").val(tot);
                } else if (epaiss === '2') {
                    var prix = new Intl.NumberFormat().format(38000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 38000);
                    $("#total").val(tot);
                } else if (epaiss === '3') {
                    var prix = new Intl.NumberFormat().format(54000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 54000);
                    $("#total").val(tot);
                } else if (epaiss === '4') {
                    var prix = new Intl.NumberFormat().format(55000);
                    $("#prixUnitaire").val(prix);
                    var tot = new Intl.NumberFormat().format(quantity * 55000);
                    $("#total").val(tot);
                }
                break;
            default:
                break;
        }
    }
</script>

</body>
</html>