<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Les granulats du Cameroun">
    <meta name="title" content="GRACAM">
    <meta name="author" content="EUCLIDES">
    <title>Gracam - {{ "Les granulats du Cameroun"|trans }}</title>

    <!-- Libraries Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    {% block photobox_css %} {% endblock %}

    <!-- Site Stylesheet -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {#    <link href="{{ asset('css/style.min.css')}}" rel="stylesheet">#}
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top p-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('Accueil') }}">
            <img class="img-logo" src="{{ asset('../images/logo.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll align-items-center">
                <div class="nav-item active">
                    <a class="nav-link" aria-current="page" href="{{ path('Accueil') }}">
                        {{ "Accueil"|trans }}
                    </a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown" href="{{ path('Produits') }}">
                        {{ "Produits"|trans }}
                    </a>
                    <div class="dropdown-menu megaMenu text-center">
                        <div class="row">
                            <div class="col-md-3">
                                <div>
                                    <h5 class="dropdown-header">SABLES</h5>
                                </div>
                                <div><a href="#" class="dropdown-item">Sable de rivière</a></div>
                                <div><a href="#" class="dropdown-item">Sable de Sanaga</a></div>
                                <br>
                                <!-- <li><a href="#" class="dropdown-item">Graviers</a></li> -->
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <h6 class="dropdown-header">Graviers</h6>
                                </div>
                                <div><a href="#" class="dropdown-item">Gravier 5 /15</a></div>
                                <div><a href="#" class="dropdown-item">Gravier 15/25</a></div>
                                <div><a href="#" class="dropdown-item">Gravier 6/10</a></div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <h6 class="dropdown-header">GRAVIERS DECO</h6>
                                </div>


                                <div><a href="#" class="dropdown-item">Graviers déco</a></div>
                                <div><a href="#" class="dropdown-item">Blocs paysagers</a></div>
                                <br>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <h6 class="dropdown-header">REMBLAIS</h6>
                                </div>
                                <div><a href="#" class="dropdown-item">Graves</a></div>
                                <div><a href="#" class="dropdown-item">Couche d'assise</a></div>
                                <div><a href="#" class="dropdown-item">Sous-couche</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Matériaux</a></li>
                        <li><a class="dropdown-item" href="#">Exploitation</a></li>
                        <li><a class="dropdown-item" href="#">Accompagnement</a></li>
                        <li><a class="dropdown-item" href="#">Transformation</a></li>
                    </ul>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">Commandes</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">Galerie</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{{ path('About') }}">
                        {{ "A propos"|trans }}
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{{ path('Contact') }}">{{ "Contact"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block body %}

{% endblock %}
<footer class="couleur">
    <div class="container-fluid p-5 mb-5 mt-5">
        <div class="row">
            <div class="col-lg-3 ">
                <h1>Gracam</h1>
            </div>
            <div class="col-lg-3 ">
                <h4 class="text-white mb-3">{{ "Liens utiles"|trans }}</h4>
                <a class="footer-link" href="{{ path('Accueil') }}">{{ "Accueil"|trans }}</a>
                <a class="footer-link" href="{{ path('About') }}">{{ "A propos de nous"|trans }}</a>
                <a class="footer-link" href="{{ path('Produits') }}">{{ "Produits"|trans }}</a>
                <a class="footer-link" href="{{ path('Carriere') }}">{{ "Carriere"|trans }}</a>
                <a class="footer-link" href="{{ path('Gallery') }}">{{ "Galerie"|trans }}</a>
                <a class="footer-link" href="{{ path('Contact') }}">{{ "Nous contacter"|trans }}</a>
            </div>
            {# <div class="col-lg-3">
                 <h3>Autres pages</h3>
                 <a class="nav-link footer" href="#">Accueil</a>
                 <a class="nav-link footer" href="#">A propos de nous</a>
                 <a class="nav-link footer" href="#">Services</a>
                 <a class="nav-link footer" href="#">Produits</a>
                 <a class="nav-link footer" href="#">Carriere</a>
                 <a class="nav-link footer" href="#">Galerie</a>
                 <a class="nav-link footer" href="#">Nous contacter</a>
             </div>#}
            <div class="col-lg-3">
                <h3>Reseaux sociaux</h3>
                <p>Facebook
                    <br>
                    Instagram
                </p>
            </div>
            <div class="col-lg-3">
                <h3>Contact</h3>
                <div class="mt-1">
                    Nkolmekok-Myom II, Yaoundé
                </div>
                <div class="mt-1">
                    Tel : +237 682 223 658 / 665 549 639
                </div>
                <div class="mt-1">
                    BP : 3582 Yaoundé
                </div>
                <div class="mt-1">
                    Email : info@granulatsducameroun.com
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start">
                <p class="mb-0">&copy; 2023 Gracam, {{ "Tout droits réservés."|trans }}</p>
            </div>
            <div class="py-4 px-5 bg-blanc footer-shape position-relative text-center text-md-end ">
                <p class="text-primaire mb-0">
                    Designed By
                    <a class="fw-bold text-primaire" href="https://euclideservices.com" target="_blank">EUCLIDES</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="btn btn-lg back-to-top"><i class="fa-solid fa-chevron-up"></i></a>
<!-- JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" async></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" ></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.8.0/countUp.min.js"></script>#}

<!-- Main Javascript -->
<script src="{{ asset('js/main.js') }}"></script>
{#<script src="{{ asset('js/main.min.js')}}"></script>#}
</body>
</html>