{% extends 'layout.html.twig' %}
{% block title %} {{ "Sterile"|trans }} - Gracam {% endblock %}
{% block about %}active{% endblock %}
{% block nav %}scrolled{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="container pt-5">
            <div class="row g-5 mb-5 mt-5">
                <div class="col-lg-6">
                    <div class="row g-4">
                        <div class="col-12">
                            <img src="{{ asset('images/graniteSterile_1.jpg') }}" class="img-fluid" id="ProductImg"
                                 alt="graniteSterile_1">
                        </div>
                        <div class="col-4">
                            <img src="{{ asset('images/graniteSterile_1.jpg') }}" class="img-fluid small-img"
                                 alt="graniteSterile_1">
                        </div>
                        <div class="col-4">
                            <img src="{{ asset('images/graniteSterile_2.jpg') }}" class="img-fluid small-img"
                                 alt="graniteSterile_2">
                        </div>
                        <div class="col-4">
                            <img src="{{ asset('images/graniteSterile_3.jpg') }}" class="img-fluid small-img"
                                 alt="graniteSterile_3">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card shadow border-primaire h-100">
                        <div class="card-header">
                            Information du produit
                        </div>
                        <div class="card-body px-5">
                            <h5 class="card-title">Steriles</h5>
                            <div class="produit-info">
                                <h4 class="header-title">Caractéristiques</h4>
                                <ul>
                                    <li>
                                        <span class="fw-bold">Epaisseurs:</span> de 12 à 50 mm
                                    </li>
                                    <li>
                                        <span class="fw-bold">Couleur:</span>
                                        Gris - bleu dominant avec nuances en fonction du site de production
                                    </li>
                                    <li>
                                        <span class="fw-bold">Forme:</span> Palette
                                    </li>
                                    <li>
                                        <span class="fw-bold">Origine:</span> Exploite une carrière de roches
                                        de granite dans les localités de Magba région de l’Ouest Cameroun.
                                    </li>
                                </ul>
                                <h4 class="header-title">Usages</h4>
                                <ul>
                                    <li>
                                        <span class="fw-bold">Assainissement et réseau:</span> Enrobage de
                                        canalisations, gaines
                                        techniques.
                                    </li>
                                    <li>
                                        <span class="fw-bold">Allée et voie d’accès:</span> Couche de finition pour vos
                                        allées
                                        de jardin.
                                    </li>
                                    <li>
                                        <span class="fw-bold">Jardin et décoration:</span> Pose de pavage, terrain de
                                        pétanque.
                                    </li>
                                </ul>
                                <h4 class="header-title">Conditionnement</h4>
                                <ul>
                                    <li class="mb-2"> Stérile vendu par palette.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6 mb-5">
                    {{ form_start(form, {'attr':{'id': 'form'}}) }}

                    {{ include('site/calculateurpierres.html.twig') }}

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- item End -->
    {% block scroll %} {% endblock %}
{% endblock %}